<mat-card [@componentDisplayState]="displayState" (@componentDisplayState.done)="handleDone( $event )">
    <mat-card-header>
        <div class="header-container">
            <div>{{symbol}}</div>
            <div>
                <app-bid-ask [symbol]="symbol"></app-bid-ask>
            </div>
            <div *ngIf="showIcons" style="display:grid;grid-template-columns:1fr 1fr 1fr;">
                <mat-icon (click)="toggleBookmark()" [ngClass]="{'icon-selected': bookmark, 'icon-unselected' : !bookmark }" class="price-summary-icon" aria-hidden="false" aria-label="Example home icon" fontIcon="bookmark"></mat-icon>
                <mat-icon [ngClass]="{'icon-selected': showDetails, 'icon-unselected' : !showDetails }" class="price-summary-icon">grid_on</mat-icon>
                <mat-icon  [ngClass]="{'icon-selected': showChart, 'icon-unselected' : !showChart }" class="price-summary-icon">equalizer</mat-icon>
            </div>
        </div>
    </mat-card-header>
    <mat-card-content>
        <div class="content-container">
            <app-price-chip title="price levels"></app-price-chip>
            <app-alert-chip title="alerts"></app-alert-chip>
        </div>
    </mat-card-content>
</mat-card>