.mdc-card {
    background-color: transparent;
}
.price-summary-icon {
    transform: scale(.7);
    cursor: pointer;
 }

 .icon-selected {
    opacity: 1;
 }

 .icon-unselected {
    opacity: .2;
 }

 .header-container {
   display:grid;grid-template-columns:25fr 65fr 10fr;
 }

 .header-container > div:first-child {
   font-size:2em;
 }